<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.x1ongzhu.pdfviewer" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>pdfViewer</name>
    <js-module name="pdfViewer" src="www/pdfViewer.js">
        <clobbers target="cordova.plugins.pdfViewer" />
    </js-module>
</plugin>
